
<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US" prefix="og: http://ogp.me/ns#">
  <head>
    {{ partial "head" . }}
    {{/*  {{ partial "canonical_urls" . }}  */}}
  </head>
  <body itemscope itemtype="http://schema.org/WebPage" data-spy="scroll" data-target="#doc-nav" data-offset="90">
    {{ partial "gtm" . }}
    {{ partial "header" . }}
    <section class="gl-docs container-fluid gl-mt-9">
      <div class="row">
        <div class="col-0 col-xl-2 pl-0">
          <div class="nav-wrapper active">
            <aside id="global-nav" class="global-nav">
            {{ partial "global_nav" . }}
            </aside>
            <div id="js-nav-toggle"></div>
          </div>
        </div>
        <div class="main pl-xl-4 wrapper js-main-wrapper col-12 col-xl-7">
          <div class="row">
            <div class="col">
              {{/*  <div id="js-version-banner" <%= 'data-is-outdated' if show_version_banner? %> data-latest-version-url='<%= @item.identifier.without_ext + '.html' %>' data-archives-url="/archives/"></div>  */}}
            </div>
          </div>
          <div class="row">
            <div class="col">
              {{ partial "banner" . }}
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="my-3 my-xl-0">
                <a class="gl-absolute text-muted gl-mt-4 gl-pt-4 gl-text-decoration-none gl-border-bottom-0! mobile-nav-toggle" href="#"><%= icon('hamburger', 18, 'gl-ml-0!') %></a>
              </div>
            </div>
          </div>
          <div class="row d-xl-none">
            <div class="col">
              <div class="doc-nav"></div>
            </div>
          </div>
          <main>
            <div class="row">
              <div class="col">
                {{/*  <div class="article-metadata">
                  <% if @item[:author] and @item[:author_gitlab] %>
                  Article written by <a href="https://gitlab.com/<%= @item[:author_gitlab] %>" target="_blank"><%= @item[:author] %></a>
                  &#8226;
                  <% end %>
                  <% if @item[:date] %>
                  on <%= @item[:date] %>
                  &#8226;
                  <% end %>
                  <% if @item[:article_type] %>
                  Type: <%= @item[:article_type] %>
                  <% end %>
                  <% if @item[:level] %>
                  Level: <%= @item[:level] %>
                  &#8226;
                  <% end %>
                  <% if @item[:last_updated] %>
                  Last updated: <%= @item[:last_updated] %>
                  &#8226;
                  <% end %>
                  <% if @item[:reading_time] %>
                  <%= reading_time(item.raw_content.split.size) %> to read
                  <% end %>
                </div>  */}}
                <div class="article-content js-article-content" role="main" itemscope itemprop="mainContentOfPage">
                  {{ block "main" . }}{{ .Content }}{{ end }}
                </div>
              </div>
            </div>
          </main>
          
          <div class="row">
            <div class="col">
              {{ partial "feedback" . }}
            </div>
          </div>
          <div class="row">
            <div class="col">
              {{ partial "footer" . }}
            </div>
          </div>
        </div>
        <div class="col-3 py-3 d-none d-xl-flex">
          <div id="doc-nav" class="doc-nav w-100"></div>
        </div>
      </div>
    </section>

    {{ $js := resources.Get "javascripts/main.js" | js.Build }}
    <script src="{{ $js.RelPermalink }}" defer></script>

    {{/*  <script src="<%= @items['/frontend/shared/global_imports.*'].path %>"></script>
    <% if @config[:algolia] == "true" %>
    <script src="<%= @items['/frontend/search/docsearch.*'].path %>"></script>
    <% else %>
    <script src="<%= @items['/frontend/search/lunrsearch.*'].path %>"></script>
    <% end %>
    <script src="<%= @items['/assets/javascripts/toggle_popover.*'].path %>"></script>
    <script src="<%= @items['/frontend/shared/clipboardjs.*'].path %>"></script>
    <script src="<%= @items['/assets/javascripts/badges.*'].path %>"></script>
    <script>
      if (document.querySelector('.mermaid') !== null) {
        let script = document.createElement('script');
        script.src = '/frontend/default/mermaid.js';
        document.head.appendChild(script);
      }
    </script>
    {{ partial "analytics" . }}
    {{/*  <% if @item.identifier.to_s == '/ee/update/deprecations.md' %>
      <script src="<%= @items['/frontend/deprecations/filters.*'].path %>"></script>
    <% end %>
    {{/*  <script src="<%= @items['/frontend/header/index.*'].path %>"></script>
    <script src="<%= @items['/assets/javascripts/docs.*'].path %>"></script>
    <script src="<%= @items['/assets/javascripts/global-nav.*'].path %>"></script>
    <script src="<%= @items['/assets/javascripts/tables.*'].path %>"></script>
    <script src="<%= @items['/frontend/default/default.*'].path %>"></script>  */}}
  </body>
</html>

