@import 'variables';
@import 'docsearch';

.four-oh-four {
  h2 {
    color: $gds-purple-900;
  }

  .btn-outline-primary {
    transition: 0.3s all;
    border-color: $landing-gl-purple-500;
    color: $landing-gl-purple-500;
    fill: $landing-gl-purple-500;

    &:hover {
      color: $gds-white;
      fill: $gds-white;
      background-color: $landing-gl-purple-500;
    }
  }

  .search {
    background: $gds-white;
    box-shadow: 0 0 0.125rem $landing-gl-black-50, 0 0.5rem 1.5rem $landing-gl-blue-950;
    border-radius: 0.25rem;
    width: 65%;

    @media (max-width: $bp-md) {
      width: 100%;
    }

    .card-title {
      font-size: 2rem;
      color: $gds-purple-900;

      @media (max-width: $bp-xs) {
        font-size: 2rem;
      }
    }
  }
}
