{{ if site.Data.banner.show }}
<div class="gl-lg-display-block">
  <div class="admonition-wrapper note gl-display-none" id="banner-close">
    <div class="admonition alert alert-banner alert-dismissible fade show text-center gl-mt-3 gl-z-index-1" role="alert">
      <div class="gl-display-flex gl-justify-content-center gl-align-items-center">
        {{/*  <%= icon('tanuki', 12, 'gl-mx-3') %>  */}}
        {{ site.Data.banner.description | markdownify }}
        {{/*  <%= icon('tanuki', 12, 'gl-mx-3') %>  */}}
        <button type="button" class="close gl-mt-n2" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>
  </div>
</div>
{{ end }}